<div>
  <%= link_to "JSON output", '/datasource.json' %> | <%= link_to "XML output", '/datasource.xml' %>
</div>

<div id='biografia'>
  <h1>Biografia</h1>
  <%= form_tag("/biografia", method: :put, remote: true) do %>
    <%= text_area_tag 'new_text', @biografia, rows: 5, placeholder: 'Biografia' %>
    <%= submit_tag "Save", data: { disable_with: "Please wait..." } %>
  <% end %>
  <div class='clearfix'></div>
</div>

<div>
  <div id='cantadas'>
    <h1>Cantadas</h1>
    <ul>
      <% @cantadas.each do |cantada| %>
        <li data-tid='<%= cantada.id %>'>
          <%= link_to "X", "/cantada/#{cantada.id}", method: :delete, remote: true, data: { disable_with: "..." } %>
          - <%= cantada.text %>
        </li>
      <% end %>
    </ul>
    <%= form_tag("/cantada", method: :post, remote: true) do %>
      <%= text_field_tag 'new_text', '', placeholder: 'Texto para cantada' %>
      <%= submit_tag '+', data: { disable_with: '...' } %>
    <% end %>
  </div>
  
  <div id='contatos'>
    <h1>Contatos</h1>
    <%= form_tag("/contatos", method: :put, remote: true) do %>
      <ul>
        <% @contatos.each do |contato| %>
          <li data-cid='<%= contato.id %>'>
            <label><%= contato.contato_key %></label>
            <%= text_field_tag contato.contato_key, contato.value %>
            <%= link_to "X", "/contato/#{contato.id}", method: :delete, remote: true, data: { disable_with: "..." } %>
            <%= hidden_field_tag 'contato[]', contato.contato_key %>
          </li>
        <% end %>
      </ul>
      <%= submit_tag "Atualizar", data: { disable_with: "Please wait..." } %>
    <% end %>
    
    <%= form_tag("/contatos", method: :post, remote: true) do %>
      <%= text_field_tag 'key', '', placeholder: 'Chave' %>
      <%= text_field_tag 'value', '', placeholder: 'Valor' %>
      <%= submit_tag '+', data: { disable_with: '...' } %>
    <% end %>
    
  </div>
  <div class='clearfix'></div>
</div>

<div id='discografia'>
  <h1>Discografia</h1>
  <%= form_tag("/albuns", method: :post) do %>
    <%= file_field_tag 'capa', accept: 'image/png,image/gif,image/jpeg' %>
    <%= text_field_tag 'nome', '' %>
    release - date tag
    <%= text_field_tag 'itunes_store', '', placeholder: 'Valor' %>
    <%= text_field_tag 'play_store', '', placeholder: 'Valor' %>
    <%= submit_tag '+', data: { disable_with: '...' } %>
  <% end %>
  <ul>
    <% @discografia.each do |disco| %>
      <li>
        <img src='data:image/png;base64,<%= disco.capa %>' />
        <div>
          <p>
            <span>nome</span> <%= disco.nome %>
            <span>release_date</span> <%= disco.release.strftime('%d/%m/%Y') %>
          </p>
          <p>
            <span><%= link_to_unless disco.itunes_store.nil?, 'iTunes', disco.itunes_store %></span>
            <span><%= link_to_unless disco.play_store.nil?, 'Play Store', disco.play_store %></span>
          </p>
        </div>
        <div class='clearfix'></div>
      </li>
    <% end %>
  </ul>
  <div class='clearfix'></div>
</div>

